@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.text-poppins {
    font-family: 'Poppins', sans-serif !important;
}
.text-Alata{
    font-family: 'Alata', sans-serif !important;
}

.bg-blue {
    background-color: #2B2D42 !important;
}

.border-blue {
    border-color: #2B2D42 !important;
}

.color-blue {
    color: #2B2D42 !important;
}
.dashed-b{
    border-bottom: dashed 1px ;
}

.bg-sky {
    background-color: #A8DADC !important;
}

.border-sky {
    border-color: #A8DADC !important;
}



.color-sky {
    color: #A8DADC !important;
}

.bg-blue-sky {
    color: #8D99AE !important;
}

.color-blue-sky {
    color: #8D99AE !important;
}

.border-blue-sky {
    border-color: #8D99AE;
}

.cover{
    object-fit: cover!important;
}

.bg-mauve {
    background-color: #EDF2F4 !important;
}

.border-mauve {
    border-color: #EDF2F4 !important;
}

.color-mauve {
    color: #EDF2F4 !important;
}

.bg-accent {
    background-color: #E63946 !important;
}

.border-accent {
    border-color: #E63946 !important;
}

.color-accent {
    color: #E63946 !important;
}
.reserve{
    position: absolute;
    color: #EDF2F4; 
    border: 1px solid #EDF2F4;
    font-weight: 700;
    border-radius: 50px;
    text-align: center;
    width: 100px;
    padding: 12px ;
    top: 10px;
    right: 10px;
    text-shadow: 5px 5px 5px  #2b2d423a;
    font-size: 0.7rem;

}
.day{
    position: absolute;
    color: #EDF2F4 ;
    font-weight: 600;
    right: 5px;
    top: 230px;
    font-size: 1.2rem;
}
.custom-link {
    font-size: 1.5rem; /* Définir la taille de la police souhaitée */

}
.nav-item{
    margin-left: 3%;
}
.navbar-nav{
    width: 100%;
}
.navbar img{
    width: 100px;
    margin-left: 7%;
    margin-right: 7%;
}
.m-5x2{
    margin: 6rem !important;
}
.m-5x3{
    margin: 15rem !important;
}
.mt-5x2{
    margin-top: 6rem !important;
}
.mb-5x2{
    margin-bottom: 6rem !important;

}
.mb-5x3{
    margin-bottom: 15rem !important;

}
.mt-5x3{
    margin-top: 15rem !important;
}
.dimension{
    width: 100%;
    height: 79%;
}
